<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>maraloon personal webpage</title>
    <link href="/css/tailwind.css" rel="stylesheet">
  </head>
  <body class='bg-yellow-500 font-mono font-semibold'>
    <nav class='h-full grid content-center place-content-center'>
      <ul>
        <li class='inline pr-28'><a href="http://instagram.com/mara.loon" target="_blank">[ instagram ]</a></li>
        <li class='inline pr-28'><a href="https://twitter.com/mara_loon" target="_blank">[ twitter ]</a></li>
        <li class='inline pr-28'><a href="https://t.me/maraloon" target="_blank">[ telegram ]</a></li>
        <li class='inline'><a href="https://github.com/maraloon" target="_blank">[ github ]</a></li>
      </ul>
    </nav>
    <main class='mx-32 my-10'>
        {{ content }}
    </main>
  </body>
</html>
