{% render "main" %}

<nav class='my-24 grid content-center place-content-center'>
  <ul>
    <li class='inline pr-28'><a href="http://instagram.com/mara.loon" target="_blank" rel="nofollow noreferrer">[ instagram ]</a></li>
    <li class='inline pr-28'><a href="https://twitter.com/mara_loon" target="_blank" rel="nofollow noreferrer">[ twitter ]</a></li>
    <li class='inline pr-28'><a href="https://t.me/maraloon" target="_blank" rel="nofollow noreferrer">[ telegram ]</a></li>
    <li class='inline'><a href="https://github.com/maraloon" target="_blank" rel="nofollow noreferrer">[ github ]</a></li>
  </ul>
</nav>
<main>
    <h1 class='text-xl mb-2'>Articles</h1>
    <ul>
    {% for article in collections.articles %}
        <li>
            <a href='{{ article.url }}'> – {{ article.data.title }}</a>
        </li>
    {% endfor %}
    </ul>
</main>
